# Ignoriraj Gradle cache direktorij
.gradle/

# Ignoriraj generirane build datoteke
build/

# Ignoriraj Android Studio datoteke
.idea/
*.iml

# Ignoriraj generirane datoteke
captures/
*.apk
*.ap_

# Ignoriraj osjetljive datoteke
local.properties
*.keystore
*.jks

# Ignoriraj lokalne konfiguracijske datoteke
*.log